* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

:root {
  --aside-width: 250px;
  --header-height: 80px;
  --trans-dur: 0.5s;
}

aside {
  position: fixed;
  height: 100vh;
  width: var(--aside-width);
  border-right: 1px solid black;
  transition: var(--trans-dur);
  overflow: auto;
  background-color: #363740;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-item:first-child .nav-link {
  height: var(--header-height);
}

.nav-link svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.nav-link span {
  transition: var(--trans-dur);
  color: #A4A6B3;
}

.nav-link span:hover {
  transition: var(--trans-dur);
  color: #ffffff;
}

.close {
  --aside-width: 50px;
}

.close ~ * {
  --aside-width: 50px;
}

.close .nav-link span {
  opacity: 0;
}

/* .close .switch-box svg, .close .switch-box span {
    display: none;
  } */
header,
main {
  position: fixed;
  left: var(--aside-width);
  width: calc(100% - var(--aside-width));
  transition: var(--trans-dur);
}

header {
  height: var(--header-height);
}

header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

main {
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  overflow: auto;
}

main,
header {
  padding: 15px;
}

.switch {
  margin-left: 20px;
  appearance: none;
  padding: 2.5px;
  width: 45px;
  height: 25px;
  border-radius: 25px;
  background-color: grey;
}

.switch::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  transition: 0.5s;
}

.switch:checked::after {
  margin-left: 20px;
}

header {
  display: inline-block;
}

header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .flex .flex2 {
  display: flex;
  align-items: center;
}

header .flex .flex2 p {
  margin-right: 10px;
}

main .start {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .start .tickets {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 47px;
}

main .start .start2 {
  display: flex;
  align-items: center;
}

main .start .start2 .rasm {
  margin-left: 20px;
}

main .all {
  min-width: 600px;
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

main .all .all1 .one {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}

main .all .all1 .one img {
  margin-right: 15px;
}

main .all .all1, main .all .all2, main .all .all3, main .all .all4, main .all .all5 {
  margin-top: 60px;
}

main .all .all2 .pi {
  color: #414141;
  margin-bottom: 40px;
}

main .all .all3 {
  color: #00CA39;
}

main .all .all3 .pi {
  margin-bottom: 40px;
}

main .all .all4 {
  color: #E44067;
}

main .all .all4 .pi {
  margin-bottom: 40px;
}

main .all .all5 {
  color: #414141;
}

main .all .all5 .pi {
  margin-bottom: 40px;
}

main table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
  min-width: 776px;
}

main table th {
  text-align: start;
  font-weight: 400;
  color: #9FA2B4;
  padding: 15px;
}

main table tbody tr td {
  padding: 15px;
}

main table tbody tr td .high {
  background-color: #E44067;
}

.dark {
  background-color: rgba(0, 0, 0, 0.892) !important;
}

.dark * {
  color: white !important;
}

.dark svg {
  fill: white;
}

.dark aside {
  border-right: 1px solid white;
  background-color: rgba(0, 0, 0, 0.403) !important;
}

.dark header {
  border-bottom: 1px solid white;
}

.dark aside .nav-link span:hover {
  transition: var(--trans-dur);
  color: #d3c4c4 !important;
}
/*# sourceMappingURL=style.css.map */